body{
    box-sizing: border-box;
    background-color: #6F4D38;
    color: #F5F5DC;
}
.Bouton{
    display: flex;
    text-decoration: none;
    margin: 200px 708px;
    width: auto;
    align-items: center;
    justify-content: center;

}

.Titre{
    font-family: 'Grosse_lettre', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.PetitTitre{
    font-family: 'Petite_lettre', sans-serif;
    font-size: 35px;
    text-align: center;


}
.paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
}

.paragraphe>.titreparag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.paragraphe>.titreparag>p{
    list-style: none;
    padding-top: 40px;
}

.text-upper{
    text-transform: uppercase;
}

.Texte{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background: #6F4D38;
    box-sizing: border-box;
}

.Texte1{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background: #6F4D38;
    box-sizing: border-box;
}

.Accueil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 100px;
}

.PageAccueil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titreparag{
    font-family: 'Grosse_lettre',sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #F5F5DC;



}
.parag{
    font-family: 'Petite_lettre',sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #F5F5DC;
}

.button {
    font-family: 'Grosse_lettre', sans-serif;
    background-color: #F5F5DC;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #3D211A 4px 4px 0 0;
    color: #3D211A;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;



}

.button:hover {
    background-color: #F5F5DC;
}

.button:active {
    box-shadow: #3D211A 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button {
        min-width: 120px;
        padding: 0 25px;
    }
}