body {
    width: 100%;
    background: #6F4D38; /* Couleur de fond pour notre site */
    margin: 0;
}

.titre_1{
    text-align: center;
    color: #F5F5DC;
    font-family: 'Grosse_lettre', sans-serif;
}

.case_grille {
    background-color: #6F4D38;
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr)); /* 5 colonnes flexibles */
    gap: 20px; /* Espacement entre les éléments */
    width: 100%;
    justify-content: space-evenly;
}