/* Importation des polices personnalisées */
@font-face {
    font-family: 'Grosse_lettre';
    src: url(http://localhost:8080/static/font/Grosse_lettres.woff);
}
@font-face {
    font-family: 'Petite_lettre';
    src: url(http://localhost:8080/static/font/Petite_lettres.woff);
}

/* Réinitialisation des marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style du footer*/
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    background-color: #3D211A;
    width: 100%;
    height: 25vh;
    padding: 15px 0;
}

/* Liste des liens dans le footer */
.fm-liste {
    color: #CBB799;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 75px;
}

/* Style des listes dans le footer */
.fm-liste > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
}

/* Suppression des puces des listes */
.fm-liste > ul > li {
    list-style: none;
    padding: 2px 0;
}

/* Texte de copyright dans le footer */
.footer-copyright {
    font-family: 'Petite_lettre', sans-serif;
    color: #CBB799;
    padding: 15px 0;
}

/* Titres du footer */
.footer-Hliste {
    font-family: 'Grosse_lettre', sans-serif;
    color: #F5F5DC;
}

/* Organisation principale du footer */
.footer-main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Style du header */
.header {
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-family: 'Grosse_lettre', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}

/* Liste des éléments du header */
.header-ul {
    font-family: 'Petite_lettre', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

/* Suppression des puces et couleur du texte du header */
.header-liste {
    list-style: none;
    color: #F5F5DC;
}

/* Style spécifique pour les titres du header */
.headerh {
    color: #F5F5DC;
}

/* Style spécifique pour l’élément "portfabio"  */
.portfabio {
    display: flex;
    position: absolute;
    height: 70%;
    right: 10px;
    transform: translateY(calc(-100% - 14px));/* Décalage vers le haut */
}

/* Style du texte "portfabio" */
.h-portfabio {
    display: flex;
    font-family: 'Grosse_lettre', sans-serif;
    color: #F5F5DC;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

/* Liens généraux */
a {
    text-decoration: none;
    color: #F5F5DC;
    cursor: pointer;
}