@font-face {
    font-family: 'Grosse_lettre';
    src: url(http://localhost:8080/static/font/Grosse_lettres.woff);
}

@font-face {
    font-family: 'Petite_lettre';
    src: url(http://localhost:8080/static/font/Petite_lettres.woff);
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    background-color: #3D211A;
    width: 100%;
    padding: 10px 10px;
    bottom: 0;

}

.fm-liste {
    color: #CBB799;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 75px;
}

.fm-liste>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
}

.fm-liste>ul>li {
    list-style: none;
    padding: 2px 0;
}

.footer-copyright {
    font-family: 'Petite_lettre', sans-serif;
    color: #CBB799;
    padding: 15px 0;

}

.footer-Hliste {
    font-family: 'Grosse_lettre', sans-serif;
    color: #F5F5DC;


}

.footer-main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {

    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-family: 'Grosse_lettre', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}

.header-ul {

    font-family: 'Petite_lettre', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 15vw;

}

.header-liste {
    list-style: none;
    color: #F5F5DC;

}

.headerh {
    color: #F5F5DC;
}

a {
    text-decoration: none;
    color: #F5F5DC;
    cursor: pointer;
}