body
{
    background: #6F4D38;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defi2_main_title
{
    color: #F5F5DC;
    font-family: 'Grosse_lettre', Arial, sans-serif;
    text-align: center;
}

.defi2_title
{
    display: flex;
    justify-content: center;
    color: #F5F5DC;
    font-family: 'Grosse_lettre', Arial, sans-serif;
    padding: 20px;
}

.defi2_text
{
    display: flex;
    justify-content: center;
    color: #F5F5DC;
    font-family: 'Petite_lettre',Arial, sans-serif;
    padding-left: 20px;
    font-size: 15px;
    text-align: center;
}

.defi2_step_text
{
    display: flex;
    justify-content: center;
    color: #3D211A;
    font-family: 'Petite_lettre',Arial, sans-serif;
    padding-left: 20px;
    font-size: 15px;
}

.img_Step1, .img_Step2, .img_Step3, .img_Step4
{
    width: 300px;
}

.img_Step2 { margin: 10px; }
.img_Step3 { padding: 5px; }

.first_div_step,
.second_div_step,
.third_div_step,
.fourth_div_step
{
    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    margin: 20px;
    padding: 10px;
}

.third_div_step { width: 39%; }

.real_code_defi2
{
    display: flex;
    justify-content: center;
}

.img_real_code { width: 65%; margin-bottom: 10px; }
.img_corrected_code { width: 50%; margin-bottom: 10px; }

.block-defi2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    padding: 20px;
    max-width: 45%;
}

.block-img
{
    display: flex;
    justify-content: space-evenly;
}

.img_Etoile { width: 100px; }
.img_Etoile_2 { width: 53px; margin: 0 5px; }

.Page_Title
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myfeeling
{
    margin-bottom: 20px;
    text-align: center;
}

.colonne_1
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.step_code { margin-bottom: 10px; }
