body
{
    background: #6F4D38;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.defi2_main_title
{
    color: #F5F5DC;
    font-family: 'Grosse_lettre', Arial, sans-serif;
    text-align: center;
}
.defi2_title
{
    display: flex;
    justify-content: center;
    color: #F5F5DC;
    font-family: 'Grosse_lettre', Arial, sans-serif;
    padding: 20px;

}

.defi2_text
{
    display: flex;
    justify-content: center;
    color: #F5F5DC;
    font-family: 'Petite_lettre',Arial, sans-serif;
    padding-left: 20px;
    font-size: 15px ;
}

.defi2_step_text
{
    display: flex;
    justify-content: center;
    color: #3D211A;
    font-family: 'Petite_lettre',Arial, sans-serif;
    padding-left: 20px;
    font-size: 15px ;
}


.img_Step1
{
    width: 300px;
    margin: 20px;
}

.img_Step2
{
    width: 300px;
    margin: 10px;
}

.img_Step3
{
    width: 300px;
    padding: 5px;
}

.img_Step4
{
    width: 300px;

}

.first_div_step
{


    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    margin: 20px;
    padding: 10px;
}

.second_div_step
{
    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    margin: 20px;
    padding: 10px;
}

.third_div_step
{
    width: 39%;
    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    margin: 20px;
    padding: 10px;
}

.fourth_div_step
{
    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    margin: 20px;
    padding: 10px;
}

.real_code_defi2
{
    display: flex;
    justify-content: center;
}


.img_real_code
{
    width: 65%;
    margin-bottom: 10px;


}

.block-defi2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F5DC;
    border-radius: 10px;
    border: #3D211A 10px;
    padding: 20px;
    max-width: 45%;

}

.block-img{
    display: flex;
    justify-content: space-evenly;

}

.img_corrected_code
{
    width: 50%;
    margin-bottom: 10px;

}

.defi2_code_text
{
    color: #F5F5DC;
    font-family: 'Petite_lettre',Arial, sans-serif;
    font-size: 15px ;
}

.img_Etoile
{
    width: 100px;

}

.img_Etoile_2
{
    width: 53px;
   margin: 0 5px;

}

.Page_Title
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.myfeeling{
margin-bottom: 20px;
}

.colonne_1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;

}

.step_code
{
    margin-bottom: 10px;
}