{{define "alldefis"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grille de cartes</title>
    <link rel="stylesheet" href="/static/css/alldefis.css">
    <link rel="stylesheet" href="/static/css/common.css">

</head>
<body>
{{template "header"}}
<main>
    <div class="container">
        <h1 class="alldefis-title">Team 4 challenges</h1>
        <div class="grid">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front1">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">the challenge was to create a creeper head in html and css in 15 minutes.</p>
                        <a href="/defi_1" class="card-button">ready</a>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front2">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program in Go that generates a random number between 1 and
                            99. The user enters a number, and the program tells him whether it is larger or smaller, until it finds the right answer.
                            or smaller, until it finds the right answer.</p>
                        <a href="/defi2" class="card-button">ready</a>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front3">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program to check whether a word or phrase is a palindrome.
                            a palindrome (20min) “kayak”)</p>
                        <a href="/templates/defi.html" class="card-button">ready</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front4">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program that analyzes a text and displays :
                            Number of words.
                            Number of characters.
                            Longest word</p>
                        <a href="/templates/defi2.html" class="card-button">ready</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front5">

                        <p>password</p>
                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Create a program that generates a random password with :
                            8 to 16 characters
                            Upper case, lower case, numbers, symbols (20 min)</p>
                        <a href="/templates/defi2.html" class="card-button">ready</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front6">
                        <p>Password 2</p>
                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program that evaluates a password and displays its level of security
                            (weak, medium, strong).
                            Criteria :
                            Length ≥ 8
                            Contains numbers
                            Contains capital letters
                            Contains symbols (20 min)</p>
                        <a href="/templates/defi2.html" class="card-button">ready</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('click', () => {
            card.classList.toggle('flipped');
        });
    });
</script>
{{template "footer"}}
</body>
</html>
{{end}}
