{{define "alldefis"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grille de cartes</title>
    <link rel="stylesheet" href="/static/css/alldefis.css">
    <link rel="stylesheet" href="/static/css/common.css">

</head>
<body>
{{template "header"}}
<main>
    <div class="container">
        <h1 class="alldefis-title">TEAM 4 CHALLENGES</h1>
        <div class="grid">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front1">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">
                            The challenge was to create a creeper
                        </p>
                        <p class="texte_avant">
                        head in html and css in 15 minutes.
                        </p>
                        <a href="/challenge1" class="card-button">Ready</a>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front2">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program in Go that generates a random number between 1 and
                            99. </p>
                        <p class="texte_avant">
                        The user enters a number, and the program tells him whether it is larger or smaller, until it finds the right answer.
                        </p>
                        <p class="texte_avant">
                        Or smaller, until it finds the right answer.
                        </p>
                        <a href="/challenge2" class="card-button">Ready</a>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front3">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program to check whether a word or phrase is a palindrome.
                        </p>
                        <p class="texte_avant">
                            a palindrome (20min) “kayak”)</p>
                        <a href="/challenge3" class="card-button">Ready</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front4">

                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program that analyzes a text and displays :
                        </p>
                        <p class="texte_avant">
                            Number of words.
                        </p>
                        <p class="texte_avant">
                            Number of characters.
                        </p>
                        <p class="texte_avant">
                            Longest word
                        </p>
                        <a href="/challenge4" class="card-button">Ready</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front5">

                        <p>Password</p>
                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Create a program that generates a random password with :</p>
                        <p class="texte_avant"> 8 to 16 characters</p>
                        <p class="texte_avant"> Upper case, lower case, numbers, symbols (20 min)</p>
                        <a href="/challenge5" class="card-button">Ready</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front card-front6">
                        <p>Password 2</p>
                    </div>
                    <div class="card-back">
                        <p class="texte_avant">Write a program that evaluates a password and displays its level of security
                            (weak, medium, strong).</p>
                        <p class="texte_avant">Criteria :</p>
                        <p class="texte_avant">Length ≥ 8</p>
                        <p class="texte_avant">Contains numbers</p>
                        <p class="texte_avant">Contains capital letters</p>
                        <p class="texte_avant">Contains symbols (20 min)</p>
                        <a href="/challenge6" class="card-button">ready</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('click', () => {
            card.classList.toggle('flipped');
        });
    });
</script>
{{template "footer"}}
</body>
</html>
{{end}}
