{{define "defi_1"}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 1</title>
    <link rel="stylesheet" href="../static/css/defi_1.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
{{ template "header" }}
<h1 class="encadre">Challenge rule: reproduce the Creeper's head using HTML and CSS.</h1>
<div class="Page_Title">
    <h1 class="defi2_main_title">Difficulty :</h1>
    <img class="img_Etoile" src="/static/images/etoile.png" alt='star'>
    <img class="img_Etoile_2" src="/static/images/etoile_2.png" alt='star'>
    <img class="img_Etoile_2" src="/static/images/etoile_2.png" alt='star'>
    <img class="img_Etoile_2" src="/static/images/etoile_2.png" alt='star'>
    <img class="img_Etoile_2" src="/static/images/etoile_2.png" alt='star'>
</div>
<div class="step">
    <h2>Step 1: Planning the challenge</h2>
    <p>
        The rule was to create. Here is a guide to build all the necessary steps for creating the Creeper's head with
        HTML blocks and CSS design. Start with a basic green squar.
    </p>
</div>
<div class="step">
        <h2>Step 2: Desired result and what I achieved</h2>
    <div class="defi">
        <!-- Image réelle de l'objectif (le Creeper) -->
        <img class="reel_creeper" src="../static/images/Userbox_creeper.png" alt="Tête de Creeper">
        <!-- Image de ton travail en cours -->
        <img src="../static/images/Capture%20d'écran%202025-02-04%20105915.png" alt="Ma réalisation">
    </div>
</div>
<div class="step">
    <h2>Step 3: Here are the results of the code</h2>
    <div class="defi">
        <!-- code de l'objectif (le Creeper) -->
        <img class="reel_creeper" src="../static/images/html_me.png" alt="Tête de Creeper">
        <!-- css du code -->
        <img src="../static/images/css_me.png" alt="Ma réalisation">
    </div>
</div>

<div class="step">
    <h2>Step 4: For the final step, here is the corrected version.</h2>
    <div class="defi">
        <!-- code de l'objectif (le Creeper) -->
        <img class="reel_creeper" src="../static/images/code_final_html.png" alt="Tête de Creeper">
        <!-- css du code -->
        <img src="../static/images/code_final_css.png" alt="Ma réalisation">
    </div>
</div>

{{ template "footer"}}
</body>
</html>
{{end}}