{{ define "footer" }}
    <footer class="footer">

        <!-- Logo ou image avec lien vers Portfabio -->
        <a class="portfabio" href="/portfabio">
            <img src="http://localhost:8080/static/images/portemc.png" alt="Portfabio">
        </a>

        <div class="footer-main">

            <!-- Section IMAGINED BY -->
            <div class="fm-liste">
                <h3 class="footer-Hliste">IMAGINED BY</h3>
                <ul>
                    <li>Bastien JOUFFRE</li>
                    <li>Lilian LE PIVER</li>
                    <li>Nans MOLL</li>
                    <li>Omrane RIAHI</li>
                    <li>Thibaut MESSINA-PAULMYER</li>
                    <li>Enzo ROSSI</li>
                </ul>
            </div>

            <!-- Section DESIGNED BY -->
            <div class="fm-liste">
                <h3 class="footer-Hliste">DESIGNED BY</h3>
                <ul>
                    <li>Thibaut MESSINA-PAULMYER</li>
                    <li>Enzo ROSSI</li>
                    <li>Bastien JOUFFRE</li>
                    <li>Omrane RIAHI</li>
                    <li>Nans MOLL</li>
                    <li>Lilian LE PIVER</li>
                </ul>
            </div>

            <!-- Section DEVELOPERS -->
            <div class="fm-liste">
                <h3 class="footer-Hliste">DEVELOPERS</h3>
                <ul>
                    <li>Omrane RIAHI</li>
                    <li>Nans MOLL</li>
                    <li>Thibaut MESSINA-PAULMYER</li>
                    <li>Enzo ROSSI</li>
                    <li>Lilian LE PIVER</li>
                    <li>Bastien JOUFFRE</li>
                </ul>
            </div>

        </div>

        <!-- Copyright -->
        <p class="footer-copyright">
            © PORTFOLIO, 2025. All Rights Reserved | Company registered at Ynov Aix Campus.
        </p>

    </footer>
{{end}}
