{{ define "footer" }}
<footer class="footer">
    <a  class="portfabio" href="/portfabio"><img  src="http://localhost:8080/static/images/portemc.png"></a>
    <div class="footer-main">
        <div class="fm-liste">
            <h3 class="footer-Hliste">IMAGINED BY</h3>
            <ul>
                <li>Bastien JOUFFRE</li>
                <li>Lilian LE PIVER</li>
                <li>Nans MOLL</li>
                <li>Omrane RIAHI</li>
                <li>Thibaut MESSINA-PAULMYER</li>
                <li>Enzo ROSSI</li>
            </ul>
        </div>
        <div class="fm-liste">
            <h3 class="footer-Hliste">DESIGNED BY</h3>
            <ul>
                <li>Thibaut MESSINA-PAULMYER</li>
                <li>Enzo ROSSI</li>
                <li>Bastien JOUFFRE</li>
                <li>Omrane RIAHI</li>
                <li>Nans MOLL</li>
                <li>Lilian LE PIVER</li>
            </ul>

        </div>
        <div class="fm-liste">
            <h3 class="footer-Hliste">DEVELOPERS </h3>
            <ul>
                <li>Omrane RIAHI</li>
                <li>Nans MOLL</li>
                <li>Thibaut MESSINA-PAULMYER</li>
                <li>Enzo ROSSI</li>
                <li>Lilian LE PIVER</li>
                <li>Bastien JOUFFRE</li>
            </ul>

        </div>
    </div>
    <p class="footer-copyright"> © By PORTFOLIO, 2025.   All Rights Reserved | Company registered in Ynov-aix campus </p>
</footer>
{{end}}