
{{ define "footer" }}
<!DOCTYPE html>
     <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<footer class="footer">
    <div class="footer-main">
        <div class="fm-liste">
            <h3 class="footer-Hliste">IMAGINED BY</h3>
            <ul>
                <li>Bastien JOUFFRE</li>
                <li>Lilian LE PIVER</li>
                <li>Nans MOLL</li>
                <li>Omrane RIAHI</li>
                <li>Thibaut MESSINA-PAULMYER</li>
                <li>Enzo ROSSI</li>
            </ul>
        </div>
        <div class="fm-liste">
            <h3 class="footer-Hliste">DESIGNED BY</h3>
            <ul>
                <li>Thibaut MESSINA-PAULMYER</li>
                <li>Enzo ROSSI</li>
                <li>Bastien JOUFFRE</li>
                <li>Omrane RIAHI</li>
                <li>Nans MOLL</li>
                <li>Lilian LE PIVER</li>
            </ul>


</body>
</html>

        </div>
        <div class="fm-liste">
            <h3 class="footer-Hliste">DEVELOPERS </h3>
            <ul>
                <li>Omrane RIAHI</li>
                <li>Nans MOLL</li>
                <li>Thibaut MESSINA-PAULMYER</li>
                <li>Enzo ROSSI</li>
                <li>Bastien JOUFFRE</li>
                <li>Lilian LE PIVER</li>
            </ul>

        </div>
    </div>
    <p class="footer-copyright"> © By PORTFOLIO, 2025.   All Rights Reserved | Company registered in Ynov-aix campus </p>


</footer>
</html>


{{end}}