{{define "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/header.css">
    </head>
    <body>
    <header class="header">
        <h1 class="headerh" >PORTFOLIO</h1>
        <nav>
            <ul class="header-ul">
                <li class="header-liste">Dashboard</li>
                <li class="header-liste">About Us</li>
            </ul>
        </nav>
    </header>
{{end}}
