{{define "header"}}

    <header class="header">

        <!-- Titre principal avec lien vers la page d'accueil -->
        <h1 class="headerh">
            <a href="/">PORTFOLIO</a>
        </h1>

        <!-- Navigation principale -->
        <nav>
            <ul class="header-ul">
                <li class="header-liste">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="header-liste">
                    <a href="/team">About Us</a>
                </li>
            </ul>
        </nav>

    </header>

{{end}}
