
{{define "tableaudebord"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/tableaudebord.css">

</head>
{{template "header"}}
<body>
    <div class="container">
        <div class="day-card">
            <h2>Lundi</h2>
            <p class="content">
                <div class="cell">Texte dans la première case</div>
                <div class="cell">Texte dans la première case</div>

                Création du groupe, préparation du projet, répartition des tâches et défis. 
                Création des différentes branches (accueil, All-defi...). 
                Recherche de la DA, création de la page d'accueil et défi 1 réalisé (dessiner un creeper du jeu Minecraft en HTML et CSS en 20 min).

                Recherche d'idées pour la présentation des défis sur le site. 
                Utilisation d'un carrousel pour la présentation. Réalisation d'un wireframe de la page d'accueil sur Figma. 
                Réalisation du défi 2 : création d'un programme qui génère un nombre aléatoire et que l'utilisateur doit deviner.
            </p>
        </div>

        <div class="day-card">
            <h2>Mardi</h2>
            <p class="content">
         (AAAAAAAAAAAAAAAA)
            </p>
        </div>

        <div class="day-card">
            <h2>Mercredi</h2>
            <p class="content">
                (Ajoute ton texte ici)
            </p>
        </div>

        <div class="day-card">
            <h2>Jeudi</h2>
            <p class="content">
                (Ajoute ton texte ici)
            </p>
        </div>

        <div class="day-card">
            <h2>Vendredi</h2>
            <p class="content">
                (Ajoute ton texte ici)
            </p>
        </div>
        <div class="container">
            <div class="cell">Texte dans la première case</div>
            <div class="cell">Texte dans la deuxième case</div>
            <div class="cell">Texte dans la troisième case</div>
            <!-- Ajoutez autant de cases que nécessaire -->
        </div>
    </div>
</body>
</html>

{{end}}