{{define "tableaudebord"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/tableaudebord.css">
</head>
<body>
{{template "header"}}

<h1 class="Title"><img src="/static/images/calendrier.png" class="calendrier" alt="calendrier">DASHBOARD</h1>

<h2 class="explication">A dashboard is a clearly presented summary of key information for a given day or activity. It helps to monitor performance and make decisions quickly.</h2>
<div class="container">
    <div class="day-card">
        <div class="contenu">
            <h2>Monday</h2>
            <p class="content">
                Having taken note of specification, we started to organize ourself. So we created a <span class="gras">Miro</span>, a <span class="gras">Trello</span>, a discussion group where we share files and images together.
                We divided up the tasks, and we start working.
            </p>
            <p class="content">
                From the very first morning a first test coming out, Nans was the first to go for a test.
            </p>
            <p class="content">
                The challenge, recreate in <span class="gras">CSS</span> a creeper head (see challenge 1).
            </p>
            <p class="content">
                In the afternoon, the second one, Thibaut on it, a program was needed, like a guess the price, you choose a number and the program sends you if it's more or less (see challenge 2).
            </p>
            <p class="content">
                Then Omrane started to work on <span class="gras">homepage</span>, Enzo on a <span class="gras">presentation page</span> for our team, Nans on his <span class="gras">challenge page</span>, Bastien on all the common things like <span class="gras">header</span>, <span class="gras">footer</span>, <span class="gras">server creation</span>, And Thibaut on his challenge too.
            </p>
        </div>
    </div>

    <div class="day-card">
        <div class="contenu">
            <h2>Tuesday</h2>
            <p class="content">
               Lilian joined us and he started working on this <span class="gras">dashboard</span>, Nans, Omrane and Thibaut still on their pages. Bastien finished the header, footer, go, and added with Nans help the <span class="gras">Portfabio</span>, we take photos of a door, of Fabio, Fabio on a door, Fabio in front of the door, jokes like this.
            </p>
            <p class="content">
               No challenge this day.
            </p>
        </div>
    </div>

    <div class="day-card">
        <div class="contenu">
        <h2>Wednesday</h2>
        <p class="content">
            This day we started to <span class="gras">merge all the branch</span> in the main which gave us <span class="gras">a few problems.</span>
            Bastien finished <span class="gras">portfabio</span>,solve all<span class="gras">merges</span> , and make a few fixes, and added a <span class="gras">button</span>on home page.
            Omrane finished his part of the <span class="gras">homepage</span> and started his challenge page,
            The <span class="gras">challenge</span> was to generate a<span class="gras">password</span> with go lang, Thibault and Nans still on their pages,
            Enzo on the page where we have all the challenge <span class="gras">united</span>, and Lilian finished the <span class="gras">dashboard</span> page and help for fixes.
        </p>
        </div>
    </div>

    <div class="day-card">
        <div class="contenu">
        <h2 >Thursday</h2>
        <p class="content">
            (Ajoute ton texte ici)
        </p>
    </div>
    </div>

    <div class="day-card">
        <div class="contenu">
        <h2>Friday</h2>
        <p class="content">
            (Ajoute ton texte ici)
        </p>
    </div>
    </div>
</div>
{{template "footer"}}
</body>
</html>
{{end}}